<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    {{partial 'products/product_form'}}
    <div class='form-group'>
      <img {{bind-attr src="picture_medium"}}/>
    </div>
  </div>
</div>
