{{#bs-modal name="productNew" fade=true title="New product"}}
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
      <form role="form">
        {{partial 'product/product_form'}}
        <div class='form-group'>
          <a href='#' {{action 'create'}} class='btn btn-default'>Save</a>
        </div>
      </form>
    </div>
  </div>
{{/bs-modal}}

