<!DOCTYPE html>
%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    %title PeopleFood
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    = javascript_include_tag "application"

