<div class='form-group'>
  <label  class="control-label">Product title</label>
  {{view Ember.TextField valueBinding='title' class="form-control"}}
  <span class="alert-error">{{errors.title}}</span>
</div>
<div class='form-group'>
  <label class="control-label">Picture</label>
  {{view App.UploadImageView name="upload_picture" contentBinding="pictureThumb" class="form-control"}}
</div>
