<div class='row'>
  <div class='col-sm-8 col-sm-offset-2 box'>
    <form role="form">
      {{partial 'product/product_form'}}
      <div class='form-group'>
        <img {{bind-attr src="picture_medium"}}/>
      </div>
      <div class='form-group'>
        <a href='#' {{action 'update'}} class='btn btn-default'>Save</a>
      </div>
    </form>
  </div>
</div>
