<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  {{#link-to 'index' class="navbar-brand"}}Foodomatic 650 Mission{{/link-to}}
  <ul class="nav navbar-nav">
      {{#view App.NavView}}
        {{#link-to 'index'}}Current order{{/link-to}}
      {{/view}}
    {{#view App.NavView}}
      {{#link-to 'products'}}Products{{/link-to}}
    {{/view}}
  </ul>
</nav>
<div id='container' class='container'>
  {{outlet}}
</div>
