{{#if currentCompany.isSignedIn}}
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{currentCompany.name}}</a>
      {{#if inCurrentOrder}}
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
          <i class="fa fa-shopping-cart"></i>
        </button>
      {{/if}}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_bar">
        <i class="fa fa-th-list"></i> Options
      </button>
    </div>
    <div class="collapse navbar-collapse" id="main_bar">
      <ul class='nav navbar-nav'>
        {{#view App.NavView}}
          {{#link-to 'currentOrder'}}Current order{{/link-to}}
        {{/view}}
        {{#view App.NavView}}
          {{#link-to 'products'}}Manage products{{/link-to}}
        {{/view}}
        {{#view App.NavView}}
          {{#link-to 'orders' (query-params page=1)}}Manage orders{{/link-to}}
        {{/view}}

      </ul>
      <ul class='nav navbar-nav pull-right'>
        <li><a href='https://github.com/migmartri/emberjs-testapp-foodordering' target='_blank'
          title='Download the code'> <i class="fa fa-github fa-lg"></i>
          Code
        </a>
        </li>
        <li><a href='#' {{action 'logout'}} title='Logout'> <i class="fa fa-sign-out fa-lg"></i>
          Logout
          </a></li>
       </ul>
     </div>
  </nav>
{{/if}}

{{bs-growl-notifications}}
{{outlet}}
