<span class='heading'>Order Items</span>
<span class="badge">{{lineItemsCount}}</span>
({{#link-to 'currentOrder.new_suggestion'}}Suggest product{{/link-to}})
<table id='line-items'>
  <tbody>
  {{#each arrangedContent}}
    {{view App.OrderLineItemView}}
  {{/each}}
  </tbody>
</table>

{{#unless model}}
  <div class="jumbotron">
    <p> You have not added any product yet, just click on the products on the left</p>
  </div>
{{/unless}}
