{{#if model}}
  <div class='col-sm-8'>
    {{view 'App.OrderProductsView'}}
  </div>
  <div class='col-sm-4'>
    {{view 'App.OrderLineItemsView'}}
  </div>
{{else}}
  <div class='col-sm-8 col-sm-offset-2 box jumbotron'>
      <p>There is not current order, create new one</p>
      <button {{action 'createOrder'}} class='btn btn-default'>Create order</button>
      or
      {{#link-to 'orders'}}view previous orders{{/link-to}}
  </div>
{{/if}}
