<div class='col-sm-8'>
  {{#if model}}
    {{view 'App.OrderProductsView'}}
  {{else}}
    <h3>There is not current order, create new one</h3>
    <button {{action 'createOrder'}} class='btn'>Create order</button>
  {{/if}}
</div>

{{#if model}}
  <div class='col-sm-4'>
    {{view 'App.OrderLineItemsView'}}
  </div>
{{/if}}
