<div class='box row' id='order_line_items'>
  <span class='heading'>Order Items</span>
  <table id='line-items'>
    {{#each model.line_items}}
      {{view App.OrderLineItemView}}
    {{/each}}
  </table>

  {{#unless model.line_items}}
    <p> You have not added any product yet, just click on the products on 
        the left</p>
  {{/unless}}
  <button type="button" class="btn btn-default btn-lg btn-block" {{action 'closeOrder'}}>Close Order</button>
</div>
