<div class='box row' id='order_line_items'>
  <h3> {{#link-to 'order' model}}Order Items{{/link-to}} </h3>
  <table id='line-items'>
    {{#each model.line_items}}
      {{view App.OrderLineItemView}}
    {{/each}}
  </table>
</div>
