<div class='row'>
  <div class='col-xm-4 col-sm-6'>
    {{input type='search' value=searchQuery class="form-control" placeholder='Filter products' id='filter_products'}}
  </div>
</div>
<div id='order_products'>
  {{#each this.products}}
    {{view App.OrderProductItemView}}
  {{else}}
    <div class='box'>
    	<h3>There are not products</h3>
      {{#link-to 'currentOrder.new_suggestion' class='btn btn-default'}}Suggest product{{/link-to}}
    </div>
  {{/each}}
</div>
