<div class='row'>
  <div class='col-xm-4 col-sm-6'>
    <div class="input-group" id='filter_products'>
      {{input type='text' value=searchQuery class="form-control" placeholder='Filter products'}}

      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </div>
</div>
<div id='order_products'>
  {{#each this.products}}
    {{view App.OrderProductItemView}}
  {{else}}
    <div class='box'>
    	<h3>There are not products</h3>
      {{#link-to 'currentOrder.new_suggestion' class='btn btn-default'}}Suggest product{{/link-to}}
    </div>
  {{/each}}
</div>
