<td class='qty'>
  {{this.qty}}
</td>
<td class='img'>
  <img {{bind-attr src='this.product.picture_thumb'}} class="img-responsive" alt="">
</td>
<td class='title'>
  {{this.product.title}}
  {{#if view.showRemove}}
    <span class='remove-item'><a href="#" {{action 'removeLineItem' this}}>X</a></span>
  {{/if}}
</td>
