<div class='col-sm-8 col-sm-offset-2 box'>
  {{#link-to 'products.new' class='btn btn-default pull-right'}}New product{{/link-to}}
  <div class='heading'>Available products </div>
  {{outlet}}
  <section>
  {{#if model}}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each arrangedContent}}
          <tr>
            <td>
              {{#link-to 'products.edit' this}} {{title}} {{/link-to}}
            <td>
              <div class='pull-right'>
                {{#link-to 'products.edit' this}} <i class="fa fa-pencil-square-o"></i> {{/link-to}}
                <a {{action 'delete' this}} href="#"> <i class='glyphicon glyphicon-remove'></i></a>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p> There are no products, create the first one </p>
  {{/if}}
  </section>
</div>
