<h3>List of products</h3>
<table class="table table-striped">
  <tr>
    </th> Name </th>
  </tr>
  {{#each model}}
    <tr>
      <td>
        {{name}}
      </td>
      <td>
        {{#link-to 'product.edit' this}}Edit{{/link-to}}
        {{#link-to 'product.delete' this}}Delete{{/link-to}}
      </td>
    </tr>
  {{/each}}
</table>
{{outlet}}
{{#link-to 'products.new' class='btn btn-default'}}New product{{/link-to}}

