/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome.min
 *= require loading_bar
 *= require ember-addons.bs_for_ember/dist/css/bs-growl-notifications.min
 *= require_self
 *= require_tree .
 */

body{
  background: url('/assets/bg.png');
  background-attachment: fixed;
  padding-top: 70px;
  .board{
    #users-list{
      .user_session {
        border: 1px solid #FF3E36;
        margin-bottom: 5px;
        padding: 10px;
      }
    }
  }
  /*margin-top: 20px;*/
  .box{
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.2);
    padding: 25px;
    background-color: #FFF;
    margin-bottom:15px;
    .heading{
      display: inline-block;
      border-bottom: 2px solid #FF3E36;
      padding-bottom: 5px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
input#filter_products{ margin: 0 0 10px 15px}
#order_products{
  .product_item{
    display:none;
    .box{
      padding: 0px;
      cursor:pointer;
      .header{
        text-align:center;
        padding: 5px 10px;
      }
    }
    .image{
      position: relative;
      h2{ 
         position: absolute; 
         top: 0px; 
         left: 0; 
         width: 100%; 
         span { 
            color: white; 
            font: bold 1em/1em Helvetica, Sans-Serif; 
            letter-spacing: -1px;  
            background: rgb(0, 0, 0); /* fallback color */
            background: rgba(0, 0, 0, 0.7);
            padding: 10px; 
         }
      }
    }
  }
}
#order_line_items{
  position: fixed;
  width: 350px;
  #suggesting_heading{margin-top:10px;}
  table#line-items, table#suggestions{
    width:100%;
    td{
      padding: 12px 8px;
    }
  }
  .line-item, .suggestion{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    height: 85px;
    margin-bottom: 5px;
    .qty{
      width: 35px;
      min-height: 50px;
      text-align: center;
    }
    .img{
      padding: 15px 0;
      width: 60px;
    }
    .title{
      width: 200px;
    }
    .remove-item{
      width:40px;
    }
  }
}
}
